.img-div{
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.img {
  border-radius: 50%;
}

.App{
  background-color: #15161b;
}

.input-div{
  text-align: center;
  padding: 3rem ;

  border: none;
}


.input-field{
  width: 30vw;
  height: 3vh;
  border-radius: 20px;
  padding: 0 1rem;
}

.search-btn{
  height: 3vh;
  width: 2vw;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  border: none;
}

.recipe-name{
  max-width: 15vw;
}